body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: blue;
  background-image: linear-gradient(
      115deg,
      rgba(58, 123, 158, 0.5),
      rgba(221, 207, 133, 0.3)
    ),
    url('https://www.visitvictoria.com/-/media/images/great-ocean-road/destinations/warrnambool-foreshore_gor_r_1244403_1150x863.jpg?ts=20151013530450');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-image: linear-gradient(
      115deg,
      rgba(138, 202, 237, 0.5),
      rgba(221, 207, 133, 0.3)
    ),
    url('https://www.visitvictoria.com/-/media/images/great-ocean-road/destinations/warrnambool-foreshore_gor_r_1244403_1150x863.jpg?ts=20151013530450');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(138, 202, 237, 0.7);
  /* position: fixed; */
}

main {
  width: 40%;
  margin: 5% auto;
  border-radius: 20px;
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  font-family: 'Noto Sans', sans-serif, Arial, Helvetica;
}

header {
  text-align: center;
  color: rgba(30, 73, 137, 1);
  background: rgba(255, 255, 255, 0.8);
  padding: 2.5rem 2.5rem;
  border-radius: 0.25rem;
}

.logo {
  display: flex;
  font-family: 'Playfair Display', serif;
}

#title {
  font-size: 2vw;
  margin-right: auto;
  padding-left: 5%;
}

img {
  max-width: 100%;
  object-fit: contain;
  margin-left: 15%;
  width: 8vw;
}

form {
  background: rgba(30, 73, 137, 0.7);
  /* background: linear-gradient(
    115deg,
    rgba(138, 202, 237, 0.5),
    rgba(221, 207, 133, 0.3)
  ); */
  padding: 2.5rem;
  border-radius: 0.25rem;
  margin-top: 2.5rem;
  font-size: 1.25vw;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 3% 0;
}

.form-label {
  margin: 0 0 1%;
  font-weight: bold;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  margin: 1% 0;
}

button {
  color: white;
  padding: 2%;
  background-color: rgba(47, 142, 59, 1);
}

@media (max-width: 1300px) {
  main {
    width: 50%;
  }
}

@media (max-width: 460px) {
  main {
    width: 90%;
  }

  #title {
    font-size: 6vw;
  }

  img {
    max-width: 100%;
    object-fit: contain;
    margin-left: 1%;
    width: 20vw;
  }

  form {
    font-size: 4vw;
    margin-top: 1.5rem;
    padding: 1.5rem;
  }
}
